<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>Lugi Galvani is able to show electricty activity in living tissue, including muscle and nerve.</key>
	<string></string>
	<key>Nicolas Appert invents a vacuum bottling technique that helps supply food for French Troops.</key>
	<integer>1809</integer>
	<key>Refrigeration Starts to become popular in food processing.</key>
	<integer>1892</integer>
	<key>Jack Kilby and Robert Noyce develop the intergrated circuit paving the way for microprocessor technology.</key>
	<real>1958</real>
	<key>Bob Kahn and Vint Cerf create the transmission control protocal (TCP) that controls how data moves around the internet.</key>
	<real>1973</real>
	<key>Tim Bernes-Lee proposes a hypertext system that will run across the internet on different operating systems (WWW).</key>
	<real>1989</real>
	<key>Karl Benz builds an automobile powered by his own four-stroke engine design.</key>
	<real>1885</real>
	<key>Brothers Charles and Frank Duryea test the first-ever American gasoline-powered automobile.</key>
	<real>1893</real>
	<key>Ford introduces airpags.</key>
	<real>1974</real>
	<key>Ford, Chrysler and GM offer seat belts as options.</key>
	<real>1956</real>
	<key>Four-wheel brakes are introduced in Scotland.</key>
	<real>1909</real>
	<key>Kane Kramer creates an MP3 Player called MPMan player.</key>
	<real>1997</real>
	<key>Apple and Steve Jobs introduce iTunes and the iPod.</key>
	<real>2001</real>
	<key>German researches begin work on a File Format for digitizing audio.</key>
	<real>1987</real>
	<key>Sony introduces the first version of its iconic walkman personal music device.</key>
	<real>1979</real>
	<key>Martin Cooper makes the first analog mobile phone call using a blocky handset.</key>
	<real>1973</real>
	<key>AT&amp;T submits a concept for cellular communication to the federal communications commission.</key>
	<real>1971</real>
	<key>The first person-to-person SMS is sent.</key>
	<real>1993</real>
	<key>Apple releases the macintosh, the first successful mouse-driven user interface.</key>
	<real>1984</real>
	<key>Atari introduces the 400 and 800 computers</key>
	<real>1979</real>
	<key>Konrad Zuse creates the Z3, the first fully operational, programmable electro-machanical computer.</key>
	<real>1941</real>
	<key>Louis Pasteur develops a method that dramatically improves the safety of food, allowing for longer preservation.</key>
	<real>1832</real>
	<key>Peter Duran introduces the tin-plated can in the U.S.</key>
	<real>1818</real>
	<key>John Deere invents the steel plough, allowing farmers to produce more crops.</key>
	<real>1832</real>
	<key>The Boeing 707 offers a new level of comfort and safety.</key>
	<real>1957</real>
</dict>
</plist>
